.landPage{
   background: url('https://abgo.in/bloom/image/Banner.jpg')no-repeat center;
   background-size: cover;
   width: 98vw;
   height: 100vh;
   animation: shrink 15s infinite alternate;
}

/* .land>h1{
   margin-top: 460px;
   letter-spacing: 3px;
   font-size: 45px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-align: center;
   justify-content: center;
   color: rgb(234, 229, 229);
} */

.landPage>h1{
   margin-top: 170px;
   font-size: 45px;
   letter-spacing: 4px;
   color: white;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-align: center;
}

.landPage>p{
   font-size: 20px;
   text-align: center;
   font-family: 'sans-serif';
   color: white;
}

@keyframes shrink {
  0% {
    background-size: 100% 100%;
  }
  100% {
    background-size: 110% 110%;
  }
}

.land{
   padding-right: 130px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   height:50px ;
}

.land-button>button{
   margin-top: 30px;
   color: white;
   background: none;
   border: none;
   cursor: pointer;
}

.land-button>img{
   width: 30px;
   margin-top: 20px;
   cursor: pointer;
}